mobTerm.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://webservices.kazpost.kz/mobiterminal/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.kazpost.kz/mobiterminal/schema" targetNamespace="http://webservices.kazpost.kz/mobiterminal/schema">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservices.kazpost.kz/mobiterminal/schema">
<xs:element name="ResponseInfo">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="ResponseGenTime" type="xs:dateTime"/>
<xs:element maxOccurs="1" minOccurs="0" name="ResponseCode" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="ResponseText" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="mlcntq" type="xs:int"/>
<xs:element maxOccurs="1" minOccurs="0" name="wghtv" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AuthorizeRequest">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="UserBarcode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="UserPin">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AuthorizeResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="SessionId" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="FindPlanRequest">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="SessionId">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="64"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="ParcelBarcode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="13"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="FindPlanResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="BagBarcode" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="BagNumber" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ParcelToBagRequest">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="SessionId">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="64"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="ParcelBarcode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:length value="13"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="BagBarcode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ParcelToBagResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="CreateTime" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CloseBagRequest">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="SessionId">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="64"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="BagBarcode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="SealNumber">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="0" name="Weight">
<xs:simpleType>
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="2"/>
<xs:totalDigits value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<!--
 <xs:element name="SendMethod" maxOccurs="1" minOccurs="0">
        	<xs:simpleType>
           		<xs:restriction base="xs:string">
      				<xs:length value="1"/>
     			</xs:restriction>
           	</xs:simpleType>
        </xs:element> 
-->
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CloseBagResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="GNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="SealNumber" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="Weight" type="xs:decimal"/>
<xs:element maxOccurs="1" minOccurs="0" name="FromDep" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="ToDep" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="SendMethod" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="BagType" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="OperatorName" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetPrinterRequest">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="1" name="SessionId">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="64"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element maxOccurs="1" minOccurs="1" name="PrinterBarcode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetPrinterResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="DisplayName" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="ModelCode" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="ModelName" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="IpAddress" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="regWAYBILLOpRequest">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="p_sessionid" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="p_bag_barcode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="regWAYBILLOpResponse">
<xs:complexType>
<xs:sequence>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="CloseBagRequest">
<wsdl:part element="tns:CloseBagRequest" name="CloseBagRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="FindPlanRequest">
<wsdl:part element="tns:FindPlanRequest" name="FindPlanRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="CloseBagResponse">
<wsdl:part element="tns:CloseBagResponse" name="CloseBagResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="ParcelToBagResponse">
<wsdl:part element="tns:ParcelToBagResponse" name="ParcelToBagResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetPrinterRequest">
<wsdl:part element="tns:GetPrinterRequest" name="GetPrinterRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="regWAYBILLOpRequest">
<wsdl:part element="tns:regWAYBILLOpRequest" name="regWAYBILLOpRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="FindPlanResponse">
<wsdl:part element="tns:FindPlanResponse" name="FindPlanResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="regWAYBILLOpResponse">
<wsdl:part element="tns:regWAYBILLOpResponse" name="regWAYBILLOpResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="AuthorizeRequest">
<wsdl:part element="tns:AuthorizeRequest" name="AuthorizeRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetPrinterResponse">
<wsdl:part element="tns:GetPrinterResponse" name="GetPrinterResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="ParcelToBagRequest">
<wsdl:part element="tns:ParcelToBagRequest" name="ParcelToBagRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="AuthorizeResponse">
<wsdl:part element="tns:AuthorizeResponse" name="AuthorizeResponse"></wsdl:part>
</wsdl:message>
<wsdl:portType name="Terminal">
<wsdl:operation name="CloseBag">
<wsdl:input message="tns:CloseBagRequest" name="CloseBagRequest"></wsdl:input>
<wsdl:output message="tns:CloseBagResponse" name="CloseBagResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="FindPlan">
<wsdl:input message="tns:FindPlanRequest" name="FindPlanRequest"></wsdl:input>
<wsdl:output message="tns:FindPlanResponse" name="FindPlanResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="ParcelToBag">
<wsdl:input message="tns:ParcelToBagRequest" name="ParcelToBagRequest"></wsdl:input>
<wsdl:output message="tns:ParcelToBagResponse" name="ParcelToBagResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPrinter">
<wsdl:input message="tns:GetPrinterRequest" name="GetPrinterRequest"></wsdl:input>
<wsdl:output message="tns:GetPrinterResponse" name="GetPrinterResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="regWAYBILLOp">
<wsdl:input message="tns:regWAYBILLOpRequest" name="regWAYBILLOpRequest"></wsdl:input>
<wsdl:output message="tns:regWAYBILLOpResponse" name="regWAYBILLOpResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="Authorize">
<wsdl:input message="tns:AuthorizeRequest" name="AuthorizeRequest"></wsdl:input>
<wsdl:output message="tns:AuthorizeResponse" name="AuthorizeResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="TerminalSoap11" type="tns:Terminal">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="CloseBag">
<soap:operation soapAction=""/>
<wsdl:input name="CloseBagRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="CloseBagResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FindPlan">
<soap:operation soapAction=""/>
<wsdl:input name="FindPlanRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="FindPlanResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ParcelToBag">
<soap:operation soapAction=""/>
<wsdl:input name="ParcelToBagRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="ParcelToBagResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPrinter">
<soap:operation soapAction=""/>
<wsdl:input name="GetPrinterRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetPrinterResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="regWAYBILLOp">
<soap:operation soapAction=""/>
<wsdl:input name="regWAYBILLOpRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="regWAYBILLOpResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Authorize">
<soap:operation soapAction=""/>
<wsdl:input name="AuthorizeRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AuthorizeResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Terminal">
<wsdl:port binding="tns:TerminalSoap11" name="TerminalSoap11">
<soap:address location="http://172.30.73.19:8088/mobiterminal/endpoint"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>