qiwiwsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://webservices.kazpost.kz/qiwi/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.kazpost.kz/qiwi/schema" targetNamespace="http://webservices.kazpost.kz/qiwi/schema">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservices.kazpost.kz/qiwi/schema">
<!--
Запрос на проверку возможности оплаты (check) запрос
-->
<xs:element name="GetProviderByPhoneRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="phone" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetProviderByPhoneResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="responseResult" type="xs:string"/>
<xs:element name="phoneResult" type="xs:string"/>
<xs:element name="providerId" type="xs:string"/>
<xs:element name="regionId" type="xs:string"/>
<xs:element name="isPorted" type="xs:string"/>
<xs:element name="resultDscr" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<!--
Запрос на проверку возможности оплаты (check) запрос
-->
<xs:element name="CheckPaymentRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="payId" type="xs:string"/>
<xs:element name="fromCurrency" type="xs:string"/>
<xs:element name="fromAmount" type="xs:string"/>
<xs:element name="toCurrency" type="xs:string"/>
<xs:element name="toAmount" type="xs:string"/>
<xs:element name="service" type="xs:string"/>
<xs:element name="account" type="xs:string"/>
<xs:element name="recId" type="xs:string"/>
<xs:element name="date" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CheckPaymentResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="responseResult" type="xs:string"/>
<xs:element name="checkResult" type="xs:string"/>
<xs:element name="resultDscr" type="xs:string"/>
<xs:element name="fatal" type="xs:string"/>
<xs:element name="id" type="xs:string"/>
<xs:element name="payResult" type="xs:string"/>
<xs:element name="saved" type="xs:string"/>
<xs:element name="status" type="xs:string"/>
<xs:element name="uid" type="xs:string"/>
<xs:element name="parserHost" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<!--  запроса на создание платежа -->
<xs:element name="AddOfflinePaymentRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="payId" type="xs:string"/>
<xs:element name="fromCurrency" type="xs:string"/>
<xs:element name="fromAmount" type="xs:string"/>
<xs:element name="toCurrency" type="xs:string"/>
<xs:element name="toAmount" type="xs:string"/>
<xs:element name="service" type="xs:string"/>
<xs:element name="account" type="xs:string"/>
<xs:element name="recId" type="xs:string"/>
<xs:element name="date" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddOfflinePaymentResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="responseResult" type="xs:string"/>
<xs:element name="paymentResult" type="xs:string"/>
<xs:element name="resultDscr" type="xs:string"/>
<xs:element name="date" type="xs:string"/>
<xs:element name="fatal" type="xs:string"/>
<xs:element name="id" type="xs:string"/>
<xs:element name="payResult" type="xs:string"/>
<xs:element name="saved" type="xs:string"/>
<xs:element name="status" type="xs:string"/>
<xs:element name="uid" type="xs:string"/>
<xs:element name="parserHost" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetPaymentStatusRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="payId" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetPaymentStatusResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="responseResult" type="xs:string"/>
<xs:element name="statusResult" type="xs:string"/>
<xs:element name="resultDscr" type="xs:string"/>
<xs:element name="date" type="xs:string"/>
<xs:element name="fatal" type="xs:string"/>
<xs:element name="id" type="xs:string"/>
<xs:element name="payResult" type="xs:string"/>
<xs:element name="status" type="xs:string"/>
<xs:element name="uid" type="xs:string"/>
<xs:element name="parserHost" type="xs:string"/>
<xs:element ref="tns:ResponseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="ResponseInfo">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="1" minOccurs="0" name="ResponseGenTime" type="xs:dateTime"/>
<xs:element maxOccurs="1" minOccurs="0" name="ResponseCode" type="xs:string"/>
<xs:element maxOccurs="1" minOccurs="0" name="ResponseText" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="AddOfflinePaymentResponse">
<wsdl:part element="tns:AddOfflinePaymentResponse" name="AddOfflinePaymentResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetProviderByPhoneRequest">
<wsdl:part element="tns:GetProviderByPhoneRequest" name="GetProviderByPhoneRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="CheckPaymentResponse">
<wsdl:part element="tns:CheckPaymentResponse" name="CheckPaymentResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="AddOfflinePaymentRequest">
<wsdl:part element="tns:AddOfflinePaymentRequest" name="AddOfflinePaymentRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="CheckPaymentRequest">
<wsdl:part element="tns:CheckPaymentRequest" name="CheckPaymentRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetProviderByPhoneResponse">
<wsdl:part element="tns:GetProviderByPhoneResponse" name="GetProviderByPhoneResponse"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetPaymentStatusRequest">
<wsdl:part element="tns:GetPaymentStatusRequest" name="GetPaymentStatusRequest"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetPaymentStatusResponse">
<wsdl:part element="tns:GetPaymentStatusResponse" name="GetPaymentStatusResponse"></wsdl:part>
</wsdl:message>
<wsdl:portType name="qiwi">
<wsdl:operation name="AddOfflinePayment">
<wsdl:input message="tns:AddOfflinePaymentRequest" name="AddOfflinePaymentRequest"></wsdl:input>
<wsdl:output message="tns:AddOfflinePaymentResponse" name="AddOfflinePaymentResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProviderByPhone">
<wsdl:input message="tns:GetProviderByPhoneRequest" name="GetProviderByPhoneRequest"></wsdl:input>
<wsdl:output message="tns:GetProviderByPhoneResponse" name="GetProviderByPhoneResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="CheckPayment">
<wsdl:input message="tns:CheckPaymentRequest" name="CheckPaymentRequest"></wsdl:input>
<wsdl:output message="tns:CheckPaymentResponse" name="CheckPaymentResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPaymentStatus">
<wsdl:input message="tns:GetPaymentStatusRequest" name="GetPaymentStatusRequest"></wsdl:input>
<wsdl:output message="tns:GetPaymentStatusResponse" name="GetPaymentStatusResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="qiwiSoap11" type="tns:qiwi">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="AddOfflinePayment">
<soap:operation soapAction=""/>
<wsdl:input name="AddOfflinePaymentRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AddOfflinePaymentResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetProviderByPhone">
<soap:operation soapAction=""/>
<wsdl:input name="GetProviderByPhoneRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetProviderByPhoneResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="CheckPayment">
<soap:operation soapAction=""/>
<wsdl:input name="CheckPaymentRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="CheckPaymentResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPaymentStatus">
<soap:operation soapAction=""/>
<wsdl:input name="GetPaymentStatusRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetPaymentStatusResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="qiwi">
<wsdl:port binding="tns:qiwiSoap11" name="qiwiSoap11">
<soap:address location="http://172.30.73.19:8088/qiwi/endpoint"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>